:root {
    --margin-size: 20px;
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

.sidebar {
    width: 50vw;
    height: 100vh;
    background: url('../images/leaves.jpg') no-repeat center center;
    background-size: cover; /* This will ensure that the background covers the sidebar area */
    display: flex;
    position: relative; /* Keep this if you need to position children absolutely within the sidebar */
    z-index: 1; /* Ensure the sidebar is underneath the logo */
}

@font-face {
    font-family: 'NorseBold';
    src: url('Norse-Bold.otf') format('opentype');
}

#odin-box {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    position: absolute;


    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    font-family: 'NorseBold', sans-serif; /* Fallback to a generic font family */
    color: white;

    white-space: nowrap; /* Overflow */
    overflow: hidden;
    text-overflow: ellipsis;

    width: 100%;
    font-size: clamp(1rem, 4rem, 8rem); /* min, ideal, max */
}

#odin-logo {
    width: clamp(40px, 30%, 50%);
}


/* Main Portion */
.main-portion {
    display: flex;
    flex-direction: column;
}

.header{
    padding: 20px;
    padding-top: 10vh;
    background-color: rgb(249,250,251);
}

.header p {
    font-size: clamp(1rem, 2rem, 2rem);
    font-weight: bold;
}

.body {
    padding: 20px;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.body .row2 {
    margin: var(--margin-size);
    display: flex;
    gap: 10%;
}

.body .row3 {
    margin: var(--margin-size);
    display: flex;
    gap: 10%;
}

.body .row4 {
    margin: var(--margin-size);
    display: flex;
    gap: 10%;
}

.footer {
    padding: 20px;
    font-size: 1rem;
}

.footer button {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 15px 50px;

    text-align: center;
    text-decoration: none;

    cursor: pointer;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect */
}

a, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}

/* CSS for forms */
/* Default Input Styles */
input {
    border: 1px solid #E5E7EB; /* Light border by default */
    /* other styles for input */
}
  
  /* Error Class */
.error {
    border: 1px solid red; /* Change border to red when there is an error */
    /* other error styles, like maybe changing the background color or adding padding */
}
